* {
    padding: 0;
    margin: 0;
}
html, body {
	height: auto;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    color: purple;
	background-color: #d4cbdb;
	font-size: 1em;
	font-family: Lato, "Open Sans", Verdana, sans-serif;
}
#notification {
    position: absolute;
    width: 250px;
    height: auto;
    padding: 20px 0;
    text-align: center;
    top: 35%;
    left: 50%;
    margin-left: -125px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid red;
    color: black;
    z-index: 1000;
}
header {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
header div {
    background-color: white;
    margin: 20px;
    padding: 20px;

    border-radius: 15px;
    box-shadow: 10px 10px 10px #888888;
}
header div p {
    color: black;
    padding: 10px;
}
.switch {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    width: 140px;
    border-radius: 15px;
    cursor: hand;
    cursor: pointer;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
    font-weight: bold;
}
.switch:hover {
    background-color: #59045e;
    color: white;
}
#fingers {
    background-color: white;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #888888
}
.finger-container {
    border-radius: 10px;
    border: 4px solid;
    padding: 10px;
    margin: 30px;
}
#bad-finger-frame {
    border-color: red;
}
#bad-finger-frame:hover {
    background-color: #ffa3a3;
}
#good-finger-frame {
    border-color: green;
    height: 160px;
}
#good-finger-frame:hover {
    background-color: #e0ffe6;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 412px;
    height: 800px;
}
.phone-frame {
    position: absolute;
}
#guide {
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 15px;
    width: 20%;
    padding: 15px;
    color: black;
    margin-right: 30px;
}
#guide p {
    margin: 10px;
}
#guide p span{
    font-weight: bold;
    color: #59045e;
}
.float-r {
    float: right;
}
.float-l {
    float: left;
}
.phone-screen {
    position: absolute;
    margin-top: 90px;
    margin-left: 21px;
    width: 371px;
    height: 572px;
    text-align: center;
    background-color: #eaeaea;
}
#login-screen {
    background-color: #eaeaea;
}
.phone-screen > * {
    font-size: 1.1em;
    color: black;
}
#reg-input {
    width: 50%;
    padding: 10px;
    margin: 5px 0 10px;
}
.reg-field {
    margin-top: 50px;
    height: auto;
}
.btn {
    margin: 15px;
    width: 75%;
    height: 40px;
    border: 2px solid #59045e;
    color: white;
    font-weight: bold;
    background-color: #59045e;
    cursor: pointer;
}
.btn:hover {
    background-color: #7b0f82;
}
.header-screen {
    height: 12%;
    background-color: #59045e;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.support-btn {
    padding: 20px;
    cursor: pointer;
    width: 80px;
}
.support-btn:hover {
    background-color: #7b0f82
}
.pac-numbers {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
#fingerprint {
    cursor: pointer;
    opacity: 0.5;
}
#fingerprint:hover {
    opacity: 1;
}
#fingerprint-area {
    width: 100%;
}
.pac-num {
    display: inline-block;
    margin: 5px 10px 0;
}
input {
    font-size: 1.2em;
}
.pac-num p {
    color: #474444;
    font-size: 0.8em;
}
.pac-input {
    width: 15px;
    padding: 10px 15px;
    vertical-align: middle;
}
.account {
    background-color: white;
    padding: 25px;
    height: 35px;
    border-bottom: 1px solid #e2e0e2;
    cursor: pointer;
}
.account:hover {
    background-color: #f2f0ef;
}
.acc-name {
    float: left;
    font-size: 1.2em;
    color: #474444;
    font-weight: bold;
}
.acc-amount {
    float: right;
    font-size: 1.5em;
}
.details-field {
    background-color: lightblue;
}
.transaction-field {
    background-color: lightgreen;
}
.detail, .transaction {
    padding: 10px 20px 30px;
    background-color: white;
    border-bottom: 1px solid #e2e0e2;
    vertical-align: top;
}
.smaller {
    font-size: 0.95em;
    color: #595b5e;
}
.tnum  {
    font-weight: bold;
}
#detail-balance {
    font-weight: bold;
    font-size: 1.2em;
}
h3 {
    background-color: #37013a;
    color: white;
}
footer {
    margin-top: 100px;
}
footer > div {
    font-size: 0.8em;
    border-top: 1px solid purple;
    height: 75px;
    width: 60%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    color: #312E32;
}
